
body, html {
    height: 100%;
    /* Add vendor prefixes for wider browser support */
    font-family: 'Nunito', sans-serif;
    transition: all 0.3s ease-in-out;

  }


  .card {
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.02);
    cursor: pointer;
  }

  /* Add or modify the styles in your CSS file */

.image-container {
  width: 200px; /* Set your desired width */
  height: 200px; /* Set your desired height */
  overflow: hidden;
}

.image-container img {
  width: auto;
  height: 100%;
  object-fit: contain; /* Maintain aspect ratio without distortion */
}
